.cart-item {
    width: 80%;
    height: 300px;
    border: 1px solid gray;
    padding: 20px;
    color: rgb(197, 197, 197);
}

.cart-content {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.cart-price-rating {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.cart-price-rating:nth-child(2) {
    margin-right: 30px;
}

.cart-content img {
    width: 150px;
    height: 150px;
}